@tailwind base;
@tailwind components;
@tailwind utilities;
:root,
* {
  box-sizing: border-box;
}
#app {
  grid-template-rows: auto 1fr auto;
  max-height: 100vh;
  overflow: hidden;
}
input {
  outline: none;
  margin-block: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
main {
  grid-template-rows: auto 1fr;
  overflow: auto;
}
#ToDoTile:nth-of-type(odd) {
  background-color: #f5f5f5;
}
/* capitalize the first letter of each chile of the ToDoTile */
#ToDoTile > *:first-letter {
  text-transform: capitalize;
  border-collapse: collapse;
}
aside {
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 0.5rem;
  max-height: 100%;
}
.completed {
  text-decoration: line-through;
  grid-column-start: 2;
}
#project-area {
  grid-gap: 0.5rem;
}
.tbd {
  grid-column-start: 1;
}
